root = true

[*]
end_of_line = crlf
insert_final_newline = true

[*.cs]
indent_style = tab
indent_size = 4
charset = utf-8

[*.cake]
indent_style = tab
indent_size = 2
charset = utf-8

[*.{config,xml,xaml,csproj,proj}]
indent_style = space
indent_size = 2
charset = utf-8
